#notificationsContainer {
  position: relative;

  .notificationButton {
    font-size: 24px;
  }

  .count {
    font-size: 10px;
    font-weight: bold;
    color: var(--color-text);
    background-color: red;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: 6px;
  }

  .notficationsMenu {
    width: 350px;
    margin-top: 22px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-base);
    border-radius: 4px;
    box-shadow: 0 0 8px var(--color-base2);
    position: absolute;
    z-index: 1;
    right: 0;

    .notification {
      width: 100%;
      margin: 0;
      padding: 12px 24px;
      font-size: 13px;
      font-weight: bold;
      text-align: start;
      position: relative;

      &.unread::before {
        content: '●';
        color: skyblue;
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
      }
    }
  }
}
